{% extends "default.html" %}
{% block title %}Projects{% endblock %}
{% block header %}Your Projects{% endblock %}

{% block content %}

    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
        <h2 style="margin: 0;">Team Projects You're Assigned To</h2>
    </div>

    {% if team %}
        <div class="card-grid">
        {% for project in team %}
            {% if project.owner_id == session['empid'] %}
                <a href="{{ url_for('project_detail', projectid=project.pid) }}" class="project-card-link">
                    <div class="project-card owned">
                        <strong>{{ project.name }}</strong>
                        <span class="tag">You Own This</span>
                    </div>
                </a>
            {% else %}
                <div class="project-card">
                    <strong>{{ project.name }}</strong>
                    <br>
                    <small>Owner: <span class="owner-name">{{ project.owner_name }}</span></small>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% else %}
        <p>You are not assigned to any team projects.</p>
    {% endif %}

    <br>
    <hr>

    <h2>Personal Projects</h2>
    {% if personal %}
        <div class="card-grid">
        {% for pid, name in personal %}
            <a href="{{ url_for('project_detail', projectid=pid) }}" class="project-card-link">
                <div class="project-card">
                    <strong>{{ name }}</strong>
                </div>
            </a>

        {% endfor %}
        </div>
    {% else %}
        <p>You have no personal projects.</p>
    {% endif %}

    <div class="floating-create-button">
        <a href="/create-project"><button>Create New Project</button></a>
    </div>

{% endblock %}
