{% extends "default.html" %}
{% block title %}Create Project{% endblock %}
{% block header %}Create a New Project{% endblock %}

{% block content %}
    <form method="POST" action="/create-project">
        <label for="project_name">Project Name:</label>
        <input type="text" name="project_name" id="project_name" required>
        <br><br>
        {% if eligible_employees %}
            <label for="assigned_employees">Assign Team Members:</label><br>
            {% for emp in eligible_employees %}
                <input type="checkbox" name="assigned_employees" value="{{ emp[0] }}">
                {{ emp[1] }} {{ emp[2] }} ({{ emp[0] }})<br>
            {% endfor %}
            <br>
        {% endif %}
        <br><br>
        <button type="submit">Create Project</button>
    </form>
{% endblock %}
